label {
	display:block;
	font-weight:bold;
}

div {
	margin:8px 0px;	
}

legend {
	font-weight:bold;
	font-size:x-large;	
}

fieldset fieldset legend {
	font-size:large;	
}

*:invalid {
	color:#f00;	
}

#rangeoutput {
	display:none;
}